@font-face{
  font-family: 'built', sans-serif;
  src: url("../src/Fonts/Varna-PersonalUse.ttf") format('truetype');
}
@font-face {
  font-family: 'Verna';
  src: url('../src/Fonts/Varna-PersonalUse.ttf') format('truetype');
}

@font-face {
  font-family: 'Alpha';
  src: url('../src/Fonts/Alpha\ Brights.ttf') format('truetype');
}
